.components_create_update {
  margin: 20px 0 0 30px;
}
.components_create_update label {
	font-weight: 600;
}
.components_create_update p {
    font-weight: 600;
}
.components_errors {
    margin: 0 0 15px 30px;
}

.btn_create_update {
	background-color:darkgray;
	margin-top:20px;
	border-radius: 0px;
	margin-left:30px;
    color:  white;
}