@font-face {
  font-family: Gilroy-Extrabold;
  src: url('../fonts/gilroy-extrabold.otf');
}
@font-face {
  font-family: Gilroy-Light;
  src: url('../fonts/gilroy-light.otf');
}
.btn_create {
	background-color: darkgray;
	color: white;
	padding: 10px 20px;
	border-radius: 25px;
}
.btn_create:hover {
    color: black;
}
.table_title th {
    font-family: Gilroy-Extrabold;
    font-size: 30px;
    font-weight: 800;
}
.table_content, .table_content1 {
	padding-bottom: 20px;
	padding-top: 10px;
}
.table_content td{
    font-family: Gilroy-Light;
    font-size: 25px;
    font-weight: 700;
}
.table_content1 td {
	font-family: Gilroy-Light;
    font-size: 20px;
    font-weight: 500;
}
.table_content1 td:first-child {
	padding-left: 30px;
}
.btn_edit, .table_content1 td a:first-child {
    color: white;
    background-color: darkgray;
    font-size: 20px;
    padding: 8px 5px 8px 8px;
    border-radius: 10px;
    border:  1px solid white;
}
.table_content1 td a:last-child {
    color: white;
    background-color: darkgray;
    font-size: 20px;
    padding: 8px 8px;
    border-radius: 10px;
}
.btn_destroy {
    color: white;
    background-color: darkgray;
    border-radius: 10px;
    padding: 8px 8px;
    font-size: 20px;
    border:  1px solid white;
}
.components_create_update {
  margin: 20px 0 0 30px;
}
.components_create_update label {
	font-weight: 600;
}
.components_errors {
    margin: 0 0 15px 30px;
}

.btn_create_update {
	background-color:darkgray;
	margin-top:20px;
	border-radius: 0px;
	margin-left:30px;
}